:root{
    --marrom-escuro: #563100;
    --cor-da-linha: #3D2828;
    --marrom-claro: #AD6300;
    --cor-de-input-text: #3D282880;
    --cor-de-botao-header: #FFFBF5E6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.tenor-sans-regular {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    background-color: var(--marrom-claro);

    & #iconPadaria {
        width: 7vh;
        height: 7vh;
    }

    & #barraPesquisa {
        display: flex;
        align-items: center;
        padding-left: 10px;
        border-radius: 15px;
        width: 25vh;
        height: 4vh;
        border: 1px solid var(--cor-da-linha);
        background-color: white;

        & button {
            display: flex;
            margin-left: auto;
            color: var(--cor-de-input-text);
            margin-right: 10px;
        }
        & input {
            font-size: 1.0rem;
        }
    }

    & button:hover {
        cursor: pointer;
        transform: scale(1.2);

    }

    button:active {
        color: red;
        transform: scale(1.2);
    }

    button{
        font-size: 1.8rem;
        color: var(--cor-de-botao-header);
    }

    & button,
    input {
        border: none;
        outline: none;
        background-color: transparent;
    }

    & #btnPerfil {
        display: block;
        width: 3vh;
        height: 3vh;
        background-color: black;
        border-radius: 10vh;
    }

    & .juncaoItens {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1vh;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

.itensMenu {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}