* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.tenor-sans-regular {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & #iconSpotify {
        width: 5vh;
        height: 5vh;
    }

    & #barraPesquisa {
        display: flex;
        align-items: center;
        border: 1px solid black
    }

    & button:hover {
        cursor: pointer;
        transform: scale(1.2);

    }

    button:active {
        color: red;
        transform: scale(1.2);
    }

    & button,
    input {
        border: none;
        outline: none;
        background-color: transparent;
    }

    & #btnPerfil {
        display: block;
        width: 3vh;
        height: 3vh;
        background-color: black;
        border-radius: 10vh;
    }

    & .juncaoItens {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1vh;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

#menuFlutuante {
    position: relative;
    display: inline;
}

#menu {
    display: none;
    position: absolute;
    top: 6vh;
    right: 1vh;
    width: 20vh;
    height: auto;
    background-color: rgb(255, 196, 94);
    flex-direction: column;
    padding: 10px;
    border: 1px solid black;
}

#nomeMenu{
    margin-top: 1vh;
    border: none;
}

.itensMenu {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.menu-ativo {
    display: flex !important;
}