.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}
.tenor-sans-regular {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & #iconSpotify {
        width: 5vh;
        height: 5vh;
    }

    & #barraPesquisa {
        display: flex;
        align-items: center;
        border: 1px solid black
    }

    & button:hover {
        cursor: pointer;
        transform: scale(1.2);

    }

    button:active {
        color: red;
        transform: scale(1.2);
    }

    & button,
    input {
        border: none;
        outline: none;
        background-color: transparent;
    }

    & #perfil {
        width: 3vh;
        height: 3vh;
        background-color: black;
        border-radius: 10vh;
    }

    & .juncaoItens {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1vh;
    }
}

a {
    text-decoration: none;
    color: inherit;
}
a:visited{
    color: inherit;
}

.pagina {
    display: none;
}

.pagina:target {
    display: block;
}



#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 55vh;
    background-color: black;
}

/* Ajustando o nome para bater com o HTML */
.gridCategorias {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Estilização para o card que o JS vai criar */
.cardCategoria {
    text-align: center;
    transition: transform 0.3s ease;
}

.cardCategoria img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px; /* Deixa as bordas arredondadas e elegantes */
}

.cardCategoria:hover {
    transform: translateY(-5px); /* Efeito de flutuar ao passar o mouse */
}