:root {
    --cor-de-fundo: #FFEED7FF;
    --cor-marrom-btn-txt: #A66800;
    --cor-da-linha: #3D2828FF;
    --cor-txt-60: #3D282899;
    --cor-btn: #673B00;
    --fundo-selecao: rgb(239, 239, 239);
    --cor-selecionado: #FF9500FF;
    --cor-txt-70: #3D2828B3;
    --cor-fundo-card: #FFE6C3FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.tenor-sans-regular {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Ajustar o body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--cor-de-fundo);
}

/* Estilização da seleção de produto ou categoria */
#select {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 440px;
    padding: 5px;
    font-size: 25px;
    background-color: var(--fundo-selecao);
    border-radius: 10px;

    button {
        border: none;
        width: 215px;
        background-color: transparent;
        border-radius: 10px;
        padding: 5px;
        color: rgb(108, 108, 108);
    }
}

.menuAtivo {
    display: flex !important;
}

.btnAtivo {
    background-color: white !important;
    color: var(--cor-marrom-btn-txt) !important;
}

#telaAdmin,
#telaAdminCategoria {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#exibirProduto,
#exibirCategoria {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.cardCategoria {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    gap: 5px;
    width: 40vh;

    & .imagemProduto,
    .imagemCat {
        width: 10vh;
        height: 10vh;
        border-radius: 20px;
    }

    & .botao {
        display: flex;
        margin-left: auto;
    }

    & .juncaoCard {
        padding: 10px;
    }
}

/* Visualização de Produto ou Categoria */
#menuProduto,
#menuCategoria {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;

    & #ajustarItens {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 30px;

        & .inputs {
            display: flex;
            flex-direction: column;

            & label {
                color: var(--cor-txt-60);
            }

            & input {
                width: 350px;
                height: 50px;
                border: 1px solid var(--cor-da-linha);
                border-radius: 10px;
                padding-left: 10px;
            }
        }

        & #inputChekbox {
            display: flex;
            justify-content: center;
            flex-direction: column;

            & #mostrarCheckbox {
                display: flex;
                align-items: center;
                justify-content: left;
                flex-wrap: nowrap;
                overflow-y: hidden;
                overflow-x: auto;
                gap: 15px;
                padding: 10px;
                width: 360px;
                height: 100px;

                & .divCheckbox {

                    & label {
                        cursor: pointer;

                        height: 90px;
                        width: 60px;

                        & input {
                            display: none;
                        }

                        & .conteudo {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            width: auto;
                            height: 80px;
                            padding: 2px;
                            transition: 0.2s;
                            border-radius: 10px;

                            & img {
                                width: 50px;
                                height: 50px;
                                border-radius: 10px;
                                border: 1px solid var(--cor-txt-60);
                            }
                        }

                        & input:checked+.conteudo {
                            background-color: var(--cor-selecionado);
                            color: var(--cor-da-linha);
                            transform: scale(1.05);
                            border-radius: 10px;
                        }
                    }
                }
            }

            & #mostrarCheckbox::-webkit-scrollbar {
                display: none;
            }
        }

        & #enviar,
        #btnEnviarCat {
            width: 300px;
            height: 50px;
            border: 1px solid var(--cor-da-linha);
            border-radius: 10px;
            font-size: 23px;
            background-color: var(--cor-btn);
            color: white;
            font-weight: bold;
            transition: 0.2s;
        }

        & #enviar:hover,
        #btnEnviarCat:hover {
            cursor: pointer;
            background-color: white;
            color: var(--cor-da-linha);
        }

        & .ajuste {
            padding-top: 40px;
        }

        & #exibirProduto,
        #exibirCategoria {
            background-color: var(--cor-fundo-card);
            padding: 20px;
            width: auto;
            border-radius: 20px;
            border: 1px solid var(--cor-txt-60);

            & .cardProduto,
            .cardCategoria {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 45vh;
                max-height: 12vh;
                background-color: white;
                border: 1px solid var(--cor-da-linha);
                border-radius: 20px;
                padding: 10px;
            }

            & .imagemCat{
                width: 90px;
                height: 90px;
                border-radius: 10px;
            }

            & .lblNomeCat{
                font-size: 20px;
                color: var(--cor-da-linha);
            }

            & .imagemProduto {
                width: 110px;
                height: 90px;
                border-radius: 10px;
            }

            & .juncaoCard {
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding-left: 10px;
                width: 100%;

                & .lblNome {
                    font-size: 20px;
                    color: var(--cor-da-linha);
                }

                & .lblDescricao {
                    font-size: 15px;
                    color: var(--cor-txt-60);
                }

                & .lblValor {
                    font-size: 23px;
                    color: var(--cor-txt-70);
                }
            }

            & .CatProdContainer {

                & .categoriaNoProduto {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 110px;
                    height: 110px;
                    padding: 10px;

                    & img {
                        width: 60px;
                        height: 60px;
                    }

                    & label {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 20px;
                        width: 100px;
                    }
                }

            }

            & .botao {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                gap: 10px;

                & button {
                    font-size: 40px;
                    border: none;
                    background-color: transparent;
                    color: var(--cor-btn);
                }

                & .btnDeletar {
                    color: red;
                }
            }
        }

    }

}



/* outras coisas */




.imgcatNoProd {
    width: 5vh;
    height: 5vh;
}