:root {
    --Cor-escura: #3D2828;
    --Cor-fundo: #FFEED7;
    --Cor-fundo-card: #FFFAF3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 768px) {

}

.barraGeral {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-height: 5vh;
    margin: 10px;
    gap: 10px;
}

.hero {
    background: var(--Cor-fundo);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 800px;
}

#barraPesquisa {
    display: block;
    margin: 30px auto 30px auto;
    text-align: center;
    height: 40px;
    width: 80%;
    margin-top: 30px;
    border-radius: 20px;
    border: 1px solid var(--Cor-escura);
}

img {
    display: flex;
    height: 60px;
    width: 60px;
    margin: auto auto;
    text-align: center;
}

.buttonGeral {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 7%;
    background: transparent;
    border-radius: 30px;
    border: 1px solid var(--Cor-escura);
}

.falarBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 350px;
    background-color: transparent;
    border: 1px solid var(--Cor-escura);
    border-radius: 12px;
    margin-top: 200px;
    margin-left: 50px;
}

.textHero {
    margin-left: 50px;
    font-size: 60px;
    font-family: 'Tenor Sans';
    max-width: 50px;
    margin-top: 20px;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: auto;
    gap: 10px;
    padding: 30px;
}

.Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--Cor-escura);
    border-radius: 10px;
    width: 350px;
    height: 450px;
    padding: 22px;
    background-color: var(--Cor-fundo-card);

    & img {
        width: 80%;
        height: 50%;
        border-radius: 10px;
    }

    & p {
        font-family: 'Tenor Sans';
        font-size: 20px;
        margin: 10px;
        color: var(--Cor-escura);
    }

    & .descricao {
        font-size: 15px;
    }
}