#telaAdmin,
#telaAdminCategoria {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#exibirProduto,
#exibirCategoria {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.cardProduto,
.cardCategoria {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    gap: 5px;
    width: 40vh;

    & .imagemProduto,
    .imagemCat {
        width: 10vh;
        height: 10vh;
        border-radius: 20px;
    }

    & .botao {
        display: flex;
        margin-left: auto;
    }

    & .juncaoCard {
        padding: 10px;
    }
}


#menuProduto{
    display: none;
}

#menuCategoria {
    display: none;
}

.menuProduto-ativo {
    display: flex !important;
}

.menuCategoria-ativo {
    display: flex !important;
}

#mostrarCheckbox {
    display: flex;
    width: 100%;
    gap: 2vh;
}

.divCheckbox{
    border: 1px solid black;
    border-radius: 30%;
}

.lblCheckbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 4px;
    cursor: pointer;
}

.imgCheckbox {
    display: flex;
    width: 5vh;
    height: 5vh;
}

.CatProdContainer{
    display: flex;
    align-items: flex-end;
    width: 100%;
}

.categoriaNoProduto{
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 30%;
    margin-left: auto;
}

.imgcatNoProd{
    width: 5vh;
    height: 5vh;
}